body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  overflow-y: auto;
}

.app-header {
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #000b;
}

.cart-btn,
.show-cart-btn {
  background: none;
  border: 0;
  outline: 0;
  background: #444;
  color: white;
  padding: 1rem;
}

.counter {
  margin-top: 1rem;
  display: flex;
}

.counter-text {
  padding: 0 1rem;
  flex: 1;
  text-align: center;
}

.counter-btn {
  outline: none;
  background: #444;
  color: #fff;
  border: 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
}

.product-wrapper {
  width: 25%;
  padding: 2rem 2rem;
}

.product-image {
  width: 80%;
}

.product {
  background: #ccc;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
}

.cart {
  position: absolute;
  height: 100vh;
  width: 30vw;
  right: 0;
  top: 0;
  background: #333;
  color: #fff;

  transform: translateX(100%);

  transition: transform 0.3s linear;
}

.cart-active {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-logo {
  padding-left: 1rem;
}

.card-body {
  padding: 2rem 1rem 0;
}

.cart-product-row {
  
}